.ajaxupload {
  width: 50%;
  display: inline-block;
}

.ajaxupload .progress {
  background: #333;
}

.ajaxupload img {
  width: 200px;
  background: #fff;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 3px;
}

.ajaxupload a.link:hover img {
  opacity: 0.8;
}

/* inactive */

.ajaxupload .progress,
.ajaxupload .link,
.ajaxupload .remove,
.ajaxupload input {
  display: none;
}

/* active progress */
.ajaxupload.progress-active .progress {
  display: block;
}

/* active image */
.ajaxupload.img-active .link {
  display: block;
}

.ajaxupload.img-active .remove {
  display: inline-block;
}

/* active form */
.ajaxupload.form-active input {
  display: block;
}